@import "style";

// Editor components
@import "../rust_internal/src/ui/switch";
@import "../rust_internal/src/ui/textbox.scss";
@import "../rust_editor/src/ui/panel";
@import "../rust_editor/src/ui/dialog";

// Local plugins
@import "src/plugins/reference_image.scss";

html,
body {
  position: relative;
  width: 100%;
  height: 100%;

  background-color: $background;
  overflow: hidden;
}

/// MATERIAL COMPONENTS
$snackbar-height: 48px;
$snackbar-padding: 16px;
.md-snackbar {
  position: absolute;
  background-color: #d64933;
  display: block;

  width: 344px;
  line-height: $snackbar-height;
  height: $snackbar-height;
  padding-left: $snackbar-padding;
  padding-right: $snackbar-padding;
  border-radius: 4px;
  bottom: $snackbar-padding * 1.5;
}

.left {
  left: $snackbar-padding * 1.5;
}

.center {
  left: 50%;
  transform: translateX(-50%);
}

.right {
  right: $snackbar-padding * 1.5;
}

/// MATERIAL COMPONENTS

body {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Heebo", sans-serif;
}

main {
  canvas {
    position: absolute;
    z-index: 0;
  }

  #left_primary_toolbar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;

    margin-top: $padding;
    margin-left: $padding;
  }

  #right_primary_toolbar {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 101;

    margin-top: $padding;
    margin-right: $padding;
  }

  #top_primary_toolbar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;

    margin-top: $padding;
    margin-left: $padding;

    display: flex;

    .toolbar {
      flex-direction: row;
      width: auto;

      height: $padding * 4 + $icon-size;

      li {
        .tooltip {
          bottom: calc(-100% - $padding);
          left: 0;
          transform: translate(-50%);
        }
      }
    }

    .toolbar:not(:last-child) {
      margin-right: $padding;
    }
  }
}

.toolbar:not(:last-child) {
  margin-bottom: $padding;
}
.toolbar {
  position: relative;
  z-index: 101;
  background: darken($background, 5);

  $icon-size: 24px;

  list-style: none;
  display: flex;
  flex-direction: column;

  width: $padding * 4 + $icon-size;
  padding: 0;
  margin: 0;

  border-radius: $border-radius;

  li {
    position: relative;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;

    padding: $padding;

    .tooltip {
      position: absolute;
      left: 0;
      white-space: nowrap;

      transform: translate(50px);
      visibility: hidden;

      background: darken($background, 8);
      color: $text;

      border-radius: $border-radius;

      padding: $padding * 2;

      font-family: "Heebo", sans-serif;
      font-size: 14px;
    }
  }
  li:hover {
    .tooltip {
      visibility: visible;
    }
  }

  button {
    color: white;
    background-color: transparent;
    border: none;

    cursor: pointer;
    display: flex;
    align-items: center;
    padding: $padding;
  }

  button.selected {
    color: $primary;
  }

  button:hover {
    color: $primary;
  }
  button:disabled {
    color: #424242;
  }

  input {
    position: absolute;
    visibility: collapse;
  }
  label {
    cursor: pointer;
    height: $icon-size;
    display: flex;
    align-items: center;
    padding: $padding;

    .material-icons {
      color: $text;
      font-size: $icon-size;
    }
  }
  input:checked + label {
    .material-icons {
      color: $primary;
    }
  }
}

.setting {
  display: flex;
  align-items: center;
  color: $text;
}