// app colors
$primary: #1e88e5;
$text: #ffffff;
$background: #211f20;
$border-radius: 4px;

$icon-size: 24px;
$padding: 4px;
// app colors
$primary: #1e88e5;
$error: #d64933;
$text: #ffffff;
$background: #211f20;

$border-radius: 4px;
$border-color: lighten($background, 20%);

$padding: 4px;
